body{
    background-color: lightskyblue;
}

#testParagraph{
    color: yellow
}

#loggedButton {
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 4px;
    padding: 6px 12px;
    border: 1px solid #1e1e1e;
    box-shadow: #1e1e1e 2px;
}